.note {
    width: 250px;
    font-family: 'Trebuchet MS';
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.note svg {
    width: 25px;
    height: 25px;
}