.card {
    background-color: #4BFF5D;
    width: 250px;
    font-family: 'Trebuchet MS';
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.card svg {
    width: 25px;
    height: 25px;
}